<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle | default("strona z memami")}}</title>
    <link rel="stylesheet" href="login.css">
</head>
<div id="pageContainer">
    <h1>{{ pageTitle|default("Brak tytułu podstrony")}}</h1>
    <form action="" method="post">
        <label for="emailInput">Podaj adres e-mail:</label>
        <input type="email" name="email" id="emailInput"><br>
        <label for="passwordInput">Podaj hasło:</label>
        <input type="password" name="password" id="passwordInput"><br>
        <input type="submit" name="submit" value="Zarejestruj">
    </form>
</div>
{% include 'footer.html.twig' %}