<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle | default("strona z memami")}}</title>
    <link rel="stylesheet" href="login.css">
</head>
   <div id="pageContainer">
    <form action="" method="post" enctype="multipart/form-data">
    <label for="uploadedFileInput">
        Wybierz plik do wgrania na serwer:
    </label><br>
    {% if user is defined %}
    <div id="loggedUser">Zalogowany użytkownik: {{ user.getName() }} </div>
    {% endif %}
    <input type="file" name="uploadedFile" id="uploadedFileInput" required><br>
      <input type="text" placeholder="wpisz nazwe mema" name="namememe"><br>
      <input type="submit" value="Wyślij plik" name="submit"><br>
      {% if user is defined %}
      <input type="hidden" name="userId" value={{ user.getId() }}>
      {% endif %}
</form></div>
{% include 'footer.html.twig' %}